.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

body p {
    font-size: 15px;
    color:  hsl(220, 15%, 55%);
}

h1 {
    font-size: 20px;
}

img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.qr-container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
    max-width: 250px;
    box-shadow: 0px 10px 30px -10px hsl(226, 31%, 47%);
}

html, body {
    height: 100%;
}
